<h1>About Me</h1>
<p>Born and raised in Singapore.<p>

<p>I'm Andrew. Developer who has a serious fetish for tough problems and challenging questions. I'm known to possess large doses of semi-infectious tenacity and always rises above the call to action. On the sidelines, I also enjoy reading glorious science fiction novels and watching movies ranging from B-grade ridiculous sci-fi plots to more intellectually engaging films.</p>

<p>As a designer, I was looking for ways to hone my craft and push the boundaries of what design meant to me. But I felt it provided quite little consolation in scratching my itch for constant creation.</p>

<p>Until I found programming.</p>

<p>With all that said, I'm also a designer by training with a penchant for all types design mediums and a serial typographer at heart. You can check out some of my illustrations and design work over at my <a href="https://www.behance.net/andrewbobb284f" target="_blank" style="color: red;">Behance.</a></p>

<p><small>P.S I'm horrible at spelling(which is why we all need spell-check, don't lie to yourself.)</small></p>
