<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Home Address</h3>

    <p>Blk 11 Farrer Park Road, Singapore 210011</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "+65 96167939" %></p>

    <h3>Email</h3>

    <p><a href="mailto:andrewbobbythian@gmail.com?subject=PortfolioContact" "email me">andrewbobbythian@gmail.com</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.771753269622!2d103.84962931564743!3d1.312363362058137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19c6a0ec20a5%3A0xa6756041e2b21282!2s11+Farrer+Park+Rd%2C+Singapore+210011!5e0!3m2!1sen!2ssg!4v1495004577891" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
