<div class="inner cover">
  <h1 class="cover-heading">Hi there.</h1>
  <p class="lead">Software programming to me is a process of much love(sometimes hate) from building projects to banging your forehead on problems or errors that take forever to figure out. The only regret I've had was - to have started sooner.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
